body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 15px 0; /* 한 줄씩 표시될 수 있도록 여백을 더 줍니다 */
}

nav ul li a {
    display: block;
    background-color: #003366; /* 진한 파란색 */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem; /* 글씨 크기 1.5배 증가 */
    width: 80%; /* 가로 길이를 맞춤 */
    margin: 0 auto; /* 가운데 정렬 */
}

nav ul li a:hover {
    background-color: #002244; /* 진한 파랑색 hover 시 색상 */
}

#content .hidden {
    display: none;
}

footer {
    text-align: center;
    margin-top: 30px;
}
